<% include partials/header %>

<div class="container indexContainer">
    <div class="jumbotron indexJumbo">
        <h1>Welcome to Umayr's Test Site</h1>
        <p>This is the landing page for a project showcasing an ecommerce site using the following technologies</p>
        <hr>
        <ul>
            <li>NodeJS </li>
            <li>MongoDB</li>
            <li>Express</li>
            <li>PassportJS (user authentication)</li>
        </ul>
    </div>
    
</div>




<% include partials/footer %>
