<% include partials/header %>

<div class="container indexContainer">
    <div class="jumbotron">
        <h1>Welcome to Umayr's Test Site</h1>
        <p>This is the landing page for a project showcasing an ecommerce site using Node, Express, MongoDB and PassportJS for user authentication.</p>
        
    </div>
    
</div>




<% include partials/footer %>
